html, body {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
}


.middle {

    height: 300px;
}


.between {

    padding-bottom: 8px;
}

h1 {

    padding-top: 15px;
}

hr {

    border: 0 none;
    color: black;
    height: 2px;
    background-color: #f05f40;
    width: 50%;
}

.btn {

    background-color: #f05f40;

}

p {

    color: red;
    font-size: 15px;
}

}

.fix-to {

    max-height: 150px;
    width: 100%;
}

h3 {

    padding-left: 15px;
}

.post {

    padding-top: 5px;
}

.accepted{

    color: green;
}

.espace {

    height: 230px;
}