/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
h6{
    font-weight: bold;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.espacer{
    height: 80px;
}
.colors{
    background-color: #e9ece5;
}
.collection{
    border: none;
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    height: 70px;

}
div.card-action.take-width{
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding-left: 0;
}
img.circle.fix-avatar{
    margin-top: 7px !important;
}
.espacer-2{
    height: 200px;
}
/*This area is for styling login and signup forms*/
.custom{
    height: 100vh;
    width: 100%;
    margin-left: 0;
}
.set-height-signup{
    height: 585px!important;
}
.set-height-login{
    height: 400px!important;

}
.fix-height{
    height: 70px;
}
.vertical{
    padding-top: 10px;
}
.comment_space{
    height:20px;
}
.font{
    font-family: 'Lobster Two', cursive;
}
.font-content{
    font-family: 'Josefin Slab', serif;
}
.icon{
    font-family: Material Icons ,'Helvetica Neue', Helvetica, Arial, sans-serif !important;;
}