<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Blog</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i" rel="stylesheet">
  <link href="/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
{% block styles %}

<body>

          <nav class="teal lighten-1" role="navigation">
              <div class="nav-wrapper container"><a id="logo-container" href="/blog" class="brand-logo font">Eduardo Torres</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/blog/process">About</a></li>
                  {% if user%}
                      <li><a href="/blog/newpost">Create Blog</a></li>
                    <li><a href="#">Hello {{user.name}}</a></li>
                    <li class="avatar"><img src="http://placekitten.com/g/50/50" class="circle fix-avatar"></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/blog/process">Profile</a></li>
                  {% else %}
                    <li><a href="/blog/login">Login</a></li>
                    <li><a href="/blog/signup">Register</a></li>
                  {% endif %}
              </ul>

              <ul id="nav-mobile" class="side-nav">
                  {% if user%}
                      <li><a href="/blog/newpost">Create Blog</a></li>
                    <li class="avatar"><a href="#">hello {{user.name}}</a>
                    <img src="http://placekitten.com/g/50/50" class="circle fix-avatar secondary-content">
                    </li>
                    <li><a href="/logout">Logout</a></li>
                  {% else %}
                    <li><a href="/blog/login">Login</a></li>
                    <li><a href="/blog/signup">Register</a></li>
                    <li><a href="/blog/newpost">Create Blog</a></li>
                    <li><a href="/blog/process">Profile</a></li>
                  {% endif %}
                <li><a href="#">Logout</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer teal lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text font">Eduardo Torres Blog</h5>
                <p class="grey-text text-lighten-4">This blog is part of the Full Stack Udacity Nanodegree</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact</h5>
                  <hr>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/torresperez.eduardo">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/etp19/blog">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.udacity.com/">Udacity</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text

            </div>
          </div>
        </footer>
{% endblock %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
  <script src="/materialize/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>
<script src="https://use.fontawesome.com/4621124070.js"></script>
</body>
</html>
