<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../static/css/another.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<header class="row text-center">
			<div class="col-md-12">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<a href="/blog"><h1 class="orange">My Blog</h1></a>
				</div>
				<div class="col-md-4">
					{% if user %}
						<h4>Welcome {{ user.name }}</h4>
						<a href="/logout"><button class="btn">Logout</button></a>

					{% else %}
						<h4><a href="/blog/login">Login</a></h4>
						<h4><a href="/blog/signup">or Register</a></h4>
					{% endif %}
				</div>
			</div>
		</header>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	</div>
</body>
</html>
