{% extends "base.html" %}
{% block content %}


   <div class="slider">
    <ul class="slides">
      <li>
        <img class="responsive-img" src="/static/img/production/slide_1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="font">Welcome to Eduardo Torres Blog!</h3>
            <h5 class="light grey-text text-lighten-3">A project for Udacity Full Stack Nanodegree</h5>
            <a class="waves-effect waves-light btn" href="https://github.com/etp19/blog">Visit my Github</a>
          <h5 class=""></h5>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="/static/img/production/office.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Write Blogs To Help People</h3>
          <h5 class="light grey-text text-lighten-3">Together we can create, design and learn by sharing our experiences</h5>
            <a class="waves-effect waves-light btn" href="/blog/newpost">Inspire Us</a>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="/static/img/production/blog.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="">Keep up with the latest in</h3>
          <h5 class="">Technology Sport Travel News </h5>
            <a class="waves-effect waves-light btn" href="/blog/login">Login</a>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="/static/img/production/communities.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>All Together</h3>
          <h5 class="light grey-text text-lighten-3">Help each other to build stronger communities</h5>
            <a class="waves-effect waves-light btn" href="/blog/signup">Join Us</a>
        </div>
      </li>
    </ul>
  </div>


  <div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h3 class="center teal-text text-lighten-2">Latest Blog</h3>
                <hr>
            </div>
        </div>
    </div>
    <div class="section">

      <!--   Card Section   -->
      <div class="row">
          {% for post in posts %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-action">
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <img src="http://placekitten.com/g/50/50" alt="" class="circle">
                                    <span class="title"> Writer by</span>
                                    <p>{{ post.user_name }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-image">
                            <img src="http://lorempixel.com/300/230/sports">
                        </div>
                        <div class="card-content middle">
                            <span class="card-title">{{ post.subject }}</span>
                            <p class="truncate">{{ post.content }}</p>
                        </div>
                        <div class="card-action">
                            <a href="/blog/{{ post.key.id() }}">Continue Reading</a>
                        </div>
                    </div>
                </div>
           {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
