{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 top-margin-blog">
			<a href="/blog/newpost">
					<button class="btn bg-success">Add Post</button>
				</a>
				<hr>
				<h2>Latest Post</h2>
				<hr>
				{% for post in posts %}
					<div>
						<div><a href="/blog/{{ post.key().id() }}">{{ post.subject }}</a> :</div>
						<div> Created by {{ post.user_post.name }}</div>
						<pre class="litle-padding">{{ post.content }}</pre>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}




