
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="section">
            <div class="row espacer"></div>
            <div class="row">
                <div class="col s12 m2"></div>
                <div class="col s12 m10">
                    <div class="col s12 m3" ></div>

                    <div class="col s12 m3" ></div>
                </div>
                <div class="col s12 m2"></div>
            </div>
            <div class="row espacer"></div>
            <div class="row">
                <div class="col s12 m2"></div>
                <div class="col s12 m10">
                    <form method="post" role="form">
                        <div class=" no-pad-bot input-field col s4">
                            <input id="title" name="update_title" type="text" class="validate" value="{{title}}">
                            <label for="title">Update Title</label>
                        </div>
                        <div class="row espacer-2"></div>
                        <div class="input-field">
                            <textarea id="textarea1" name="update_content" class="materialize-textarea">{{ blog_content }}</textarea>
                            <label for="textarea1">Update your content</label>
                        </div>
                        <input class="btn waves-effect waves-light btn-large" type="submit" name="update" value="update">
                        <input class="waves-effect waves-light btn-large center-align pink" type="submit" name="cancel" value="cancel">
                    </form>
                </div>
                <div class="col s12 m2">
                    <div>
                                <p>{{ error }}</p>
                                <p>{{ accepted }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
