<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width , initial-scale=1">
  <title>Eduardo Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css" type="text/css">
	
</head>
<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>Menu
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#"><p>Pro Stock Market</p></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#"><p>Home</p></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://hello-world-153222.appspot.com/blog" target="_blank"><p>blog</p></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://localhost:8080/signup" target="_blank"><p>Sign Up</p></a>
                    </li>
                    <li>
                        <a class="page-scroll"><i class="fa fa-user-circle-o fa-2x" id="open-modal"></i></a>
                    </li>
                </ul>
            </div>
            
        </div>
        </nav>
    <header class="img-responsive container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 announce">
                    <h1 class="unique">go for it</h1>
	                <h2 class="unique-2">Learn How to Invest without risk</h2>
	                <a href="#"><button class="btn unique-3">Get Started</button></a>
                </div>
                <section id="modal" class="modal fade">
	                <div class="modal-body">
		                <form method="post" role="form">
			                <span id="close" onclick="close();" class="glyphicon glyphicon-remove pull-right"></span>
			                <div class="form-group">
				                <label for="email">Email</label>
				                <input type="email" id="email" class="form-control" placeholder="Enter Username">
			                </div>
			                <div class="form-group">
				                <label for="password">Password</label>
				                <input type="password" id="password" class="form-control" placeholder="Enter password">
			                </div>
			                <button type="submit" class="btn login">Log In</button>
		                </form>
	                </div>
	                
                </section>
            </div>
        </div>
        
        
      
    </header>

    <div class="container-fluid">
        <section class="row advertising text-center">
            <div class="col-lg-12">
                <h2>About Our Work</h2>
                <h4>This is a simulator platform specifically created for individuals who have zero knowledge and want to learn how to invest in the stock market in a fun way and without any risk of loosing real money.</h4>
            </div>
            </section>
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <h2>We Offer</h2>
                <hr>
                </div>
        <section class="row options">
            <div class="col-lg-12 text-center">
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-bolt fa-5x"></i>
                    <h4>Fast and Reliable</h4>
                    <h3>Buy and Sell stock in seconds</h3>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-mobile fa-5x"></i>
                    <h4>Mobile Friendly</h4>
                    <h3>Use our platform from any device</h3>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-money fa-5x"></i>
                    <h4>Unlimited money</h4>
                    <h3>Register and get $100000 to start</h3>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
                    <h4>Free accounts</h4>
                    <h3>Have access to more than 1000 stocks</h3>
                </div>
            </div>
        </section>
        <div class="col-lg-12 text-center">
                <h2>Why Us</h2>
                <hr>
                </div>
        <div class="col-lg-12 espace"></div>
        <section class="row">
            <div class="col-lg-12 text-center">
                <div class="col-lg-6 col-md-6">
                    <img class="img-responsive " src="../static/img/production/learn_new.jpg">
                </div>
                <div class="col-lg-6 col-md-6 pull-off">
                    <img class="img-responsive" src="../static/img/production/logo.png">
                    <h1>Learn</h1>
                    <h3>Start from the ground up, not experience required. A lot of information available to every user</h3>
                </div>
            <div class="col-lg-12 espace"></div>
            </div>
            <div class="col-lg-12 text-center">
                <div class="col-xs-12 col-lg-6 col-md-6 col-md-push-6">
                    <img class="img-responsive" src="../static/img/production/growth.jpg">
                </div>
	            <div class=" col-xs-12 col-lg-6 col-md-6 col-md-pull-6 pull-off">
	                <img class="img-responsive" src="../static/img/production/growth-new.png">
                    <h1>Growth</h1>
                    <h3>Grow your knowledge in the stock market trading by practicing with real time stock prices</h3>
                </div>
            </div>
            <div class="col-lg-12 espace"></div>
            <div class="col-lg-12 color text-center">
                <div class="col-lg-6 col-md-6">
                    <img class="img-responsive" src="../static/img/production/trader_new.jpg">
                </div>
                <div class="col-lg-6 col-md-6 pull-off">
	                <img class="img-responsive" src="../static/img/production/dollar-new.png">
                    <h1>Earn Money</h1>
                    <h3>Through acquired knowlegde, you will be able to earn money in real life</h3>
                </div>
            </div>
            <div class="col-lg-12 espace"></div>
        </section>
        
        <footer class="row">
            <div class="col-md-12 text-center contacts">
                <hr>
                <a href="https://www.facebook.com/torresperez.eduardo" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://github.com/etp19/" target="_blank"><i class="fa fa-github fa-3x"></i></a>
                <a href="https://www.instagram.com/etp19/?hl=en" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
	            <p>Website created by <a href="https://etp19.github.io/porfolio/" target="_blank">EduardoT</a></p>
            </div>
        </footer>
    </div>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/scroll.js"></script>
	<script>
		
		$(document).ready(function () {

$("#open-modal").on('click', function () {

  $("#modal").modal({show:true});

});
			
$("#close").on('click', function () {
	
	$("#modal").modal('hide');
});

});
	</script>

</body>
</html>
