<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../static/css/another.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
        <div class="row">
	        <div class="col-md-12 espace-1"></div>
                <div class="col-md-6">
                    <div class="col-md-3">{{ p.subject}} :</div>
	                <div class="col-md-3"> Created by {{ p.user_post.name}}</div>
                </div>
	            <div class="col-md-6 text-right">
		            {{ p.created}}
	            </div>
	        <hr>
            <div class="col-md-12 espace-2">
                <pre>{{ p._render_text | safe}}</pre>
            </div>
        </div>



	</div>
</body>

