{% extends "base.html" %}
{% block styles %}
    <body class="teal lighten-3">
        <div class="container">
            <div class="section custom">
                <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="image">
                            <a class="btn-floating btn-large waves-effect waves-light teal lighten-1" href="/blog"><i class="material-icons">arrow_back</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}